<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  - Shop Sports & Originals | adidas VN</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web_Adidas.styles.css" asp-append-version="true" />

    @* Favicon *@
    <link rel="icon" type="image/png" href="~/favicons/favicon.ico">

    @* Font chữ *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sora:wght@100..800&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header" >
       
            
                <a href="/">
                    <img class="header__logo" src="~/img/adidas.png" alt="Adidas Logo">
                </a>    
                <nav class="header__nav">
                    <a class="header__link" href="#">GIẦY</a>
                    <a class="header__link" href="#">DÉP</a>
                    <a class="header__link" href="#">QUẦN ÁO</a>
                </nav>
                <div class="header__actions">
                    <div class="header__search">
                        <input class="header__search-input" type="text" placeholder="tìm kiếm">
                        <button class="header__search-button"><img src="~/img/search.png" alt="Search"></button>
                    </div>
                    <div class="header__icons">
                        <a class="header__icon-link" href="#"><img class="header__icon" src="~/img/user.png" alt="Account"></a>
                        <a class="header__icon-link" href="#"><img class="header__icon" src="~/img/shopping-bag.png" alt="Cart"></a>
                        <span class="cart-count">1</span>
                    </div>
                        
                     <partial name="_LoginPartial" />
                </div>
                
        
        
    </header>
    
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    
    

    <footer class="border-top footer text-muted">
        
        <div class="container">
            &copy; 2025 - Web_Adidas - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
