@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Quên mật khẩu?";
}

<div class="forgot-password-container">
    <div class="forgot-password-box">
        <h2>@ViewData["Title"]</h2>
        <p>Vui lòng nhập email của bạn.</p>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email của bạn" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn-adidas">Lấy lại mật khẩu</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
