@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Gửi lại xác nhận email";
}

<div class="resend-email-container">
    <div class="resend-email-box">
        <h2>@ViewData["Title"]</h2>
        <p>Nhập Email của bạn.</p>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="Email" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn-adidas">Gửi lại</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
