* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
    
}



html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
    
}

.main-content {
    flex: 1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}


/*Common*/
a {
    text-decoration: none;
}

/*Header*/
.header {
    font-family: "Sora", sans-serif;
    background: #FFFFFF;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

    .header.fixed {
        position: sticky;
        top: -5px;
        z-index: 5;
    }

.header__logo {
    width: 50px;
    height: auto;
}

.nav ul {
    display: flex;
    
    
}

.nav a {
    color: #000000;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    padding: 8px 21px ;
    transition: 0.25s;
}

.nav__item {
    position: relative;
}

    
    .nav__item a {
        position: relative;
        display: inline-block;
        padding: 8px 21px;
        font-weight: 500;
        font-size: 18px;
        color: #000;
        text-decoration: none;
    }

        .nav__item a .underline {
            position: absolute;
            display: block;
            width: 30px;
            height: 4px;
            background-color: #171100;
            margin: 6px auto 0;
            border-radius: 1px;
            opacity: 0;
            bottom: -8px;
            left: 50%;
            transform: translateX(-50%);
            transition: opacity 0.3s ease;
        }


.nav__item--has-dropdown:hover .underline {
    opacity: 1;
}

.nav__item--has-dropdown {
    position: relative;
}

.shoe-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    padding: 20px;
    margin-top: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 100;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 20px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    transform: translateX(-130px);
}


.nav__item--has-dropdown:hover .shoe-dropdown {
    display: flex;
    visibility: visible;
    opacity: 1;
}


.shoe-card {
    position: relative;
    display: inline-block;
    width: 180px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
}

    .shoe-card img {
        width: 100%;
        height: auto;
       
        object-fit: cover;
        display: block;
        border: 1px solid #eee;
        border-radius: 5px;
        margin-top: 30px;
    }


.shoe-label {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2px 6px;
    border-radius: 4px;
    z-index: 2;
}

.shoe-view-all {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 100%;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    border: 2px dashed #ccc;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.shoe-view-all a {
    text-decoration: none;
    color: #000;
}

.shoe-view-all:hover {
    background-color: #f0f0f0;
    border-color: #999;
}


/*.shoe-card:hover .shoe-label {
    opacity: 1;
}*/

.header__actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__search {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
}



.header__search-input {
    border: none;
    padding: 5px 10px;
    outline: none;
    font-size: 14px;
}

.header__search-button {
    background: transparent;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #000;
}

    .header__search-button img {
        width: 16px;
        height: 16px;
    }

.header__icons {
    position: relative;
    display: flex;
    align-items: center;
    gap: 17px;
}

.cart-count {
    position: absolute;
    top: -8px;
    right: -14px;
    background-color: #FFD600;
    color: #000;
    font-weight: bold;
    border-radius: 50%;
    padding: 4px 7px;
    font-size: 12px;
    line-height: 1;
    min-width: 20px;
    text-align: center;
}

.header__icon-link {
    text-decoration: none;
}

.header__icon {
    width: 24px;
    height: 24px;
}

.header__login {
    padding: 4px 21px;
    color: #555;
    font-size: 15px;
    font-weight: 400;
    transition: 0.25s;
}

.header__login:hover {
        text-decoration: underline;
        color: #000;
}

.header__signup {
    padding: 4px 21px;
    border-radius: 99px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    background-color: #000000;
    transition: 0.25s;
}

.header__signup:hover {
    opacity: 0.8;
    cursor: pointer;
    color: #fff;
}

/*Login*/

.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f8f8f8;
}

.login-container {
    display: flex;
    background: #fff;
    border-radius: 8px;
    gap: 20px;
    overflow: hidden;
    max-width: 900px;
    width: 100%;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    transform: translateY(-50px);
}

.login-box {
    flex: 1.2;
    padding: 40px;
    padding-right: 40px;
}


    .login-box h2 {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 30px;
        color: #222;
    }

.login-box a {
    color: #000 !important;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

    .login-box a:hover {
        color: #333; 
        text-decoration: underline;
    }



.form-group {
    display: flex;
    flex-direction: column;
}

    .form-group label {
        font-size: 15px;
        font-weight: 600;
        color: #111;
        margin-bottom: 6px;
    }


.form-select {
    padding: 10px 16px;
    font-size: 15px;
    color: #111;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='16' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px;
    appearance: none;
    transition: border 0.3s, box-shadow 0.3s;
    cursor: pointer;
    min-width: 200px;
}

    .form-select:hover {
        border-color: #000;
    }

    .form-select:focus {
        border-color: #000;
        box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
        outline: none;
    }




    .form-group input {
        width: 100%;
        padding: 12px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 14px;
    }

        .form-group input:focus {
            border-color: #000;
            outline: none;
        }

.form-remember {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
}

    .form-remember input {
        margin-right: 8px;
    }

.btn-login {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 12px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .3s ease;
}

    .btn-login:hover {
        background-color: #333;
    }

.links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

    .links a {
        color: #0066ff;
        font-size: 14px;
        text-decoration: none;
    }

        .links a:hover {
            text-decoration: underline;
        }

.login-image {
    flex: 0.8;
    display: block; 
}

    .login-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0 8px 8px 0;
    }

/*Sign up */

.signup-container {
    display: flex;
    background: #fff;
    border-radius: 8px;
    gap: 20px;
    overflow: hidden;
    max-width: 900px;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-50px);
}

.signup-box {  
    border-radius: 10px;
    flex: 1.2;
    padding: 40px;
    padding-right: 40px;
    


}

    .signup-box h2 {
        margin-bottom: 30px;
        font-size: 32px;
        font-weight: 700;
        color: #222;
    }

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.text-danger {
    color: #dc3545;
    margin-top: 5px;
    display: block;
}

.btn-signup {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

    .btn-signup:hover {
        background-color: #333;
    }

.signup-image {
    flex: 0.8;
    display: block;
}

.signup-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0 8px 8px 0;
}

/*Forgot Password */
.forgot-password-container {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.forgot-password-box {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .forgot-password-box h2 {
        margin-bottom: 15px;
        font-size: 32px;
        font-weight: 700;
        color: #222;

    }

    .forgot-password-box p {
        margin-bottom: 20px;
        color: #666;
    }

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
}

.text-danger {
    color: #dc3545;
    margin-top: 5px;
    display: block;
}

.btn-adidas {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 12px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .3s ease;
}

    .btn-adidas:hover {
        background-color: #333;
    }

/*Resend Email Confirmation */
.resend-email-container {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.resend-email-box {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .resend-email-box h2 {
        margin-bottom: 15px;
        font-size: 32px;
        font-weight: 700;
        color: #222;
    }

    .resend-email-box p {
        margin-bottom: 20px;
        color: #666;
    }

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
}

.text-danger {
    color: #dc3545;
    margin-top: 5px;
    display: block;
}

.btn-adidas {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 12px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .3s ease;
}

    .btn-adidas:hover {
        background-color: #333;
    }

/*Main*/

.banner-container {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.banner__video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.banner__box {
    position: absolute;
    z-index: 2;
    top: 450px;
    left: 100px;
}

.banner__box-title{
    display: inline-block;
    font-weight: bold;
    padding: 10px 10px;
    background: #fff;
    margin-bottom: 8px;
    font-size: 20px;
}

.banner__box-text {
/*    background: #fff;
    padding: 5px 5px;
    width: 400px;
    font-size: 14px;
    line-height: 1.5;*/
    margin-bottom: 20px;
}

.banner__box-line {
    display: block;
    background-color: white;
    color: #000;
    padding: 3px 5px;
    width: max-content;
    margin-bottom: 4px;
    font-size: 0.9rem;
    line-height: 1.4;
}

.banner__button {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border: 1px solid #000;
    font-weight: bold;
    transition: all 0.3s ease;
}

    .banner__button:hover {
        background-color: #000;
        color: #fff;
    }

/*Main content*/
.product-section {
    margin: 40px auto;
    max-width: 1200px;
    padding: 0 20px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .section-header h2 {
        font-size: 24px;
        font-weight: bold;
    }

    .section-header a {
        font-size: 14px;
        color: #000;
        text-decoration: underline;
    }

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.product-item {
    background: #fff;
    border-radius: 8px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #fff;
    text-align: center; 
    transition: 0.25s;
}

    .product-item:hover {
        box-shadow: 0 8px 20px rgba(0,0,0,0.2);
        transform: translateY(-2px);
    }

.product-card {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

    .product-card:hover {
        transform: translateY(-5px);
    }

.product-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.product-info {
    padding: 15px;
}

    .product-info h5 {
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 16px;
    }

.price {
    color: #E91E63;
    font-weight: bold;
    margin-bottom: 10px;
}

.add-to-cart-btn {
    background: #000;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s ease;
}

    .add-to-cart-btn:hover {
        background: #333;
    }




/*Gio hang*/
.cart {
    flex-grow: 1;
    margin-top: 0;
    padding: 50px;
    font-family: "Noto Sans", sans-serif;
}

.cart__title {
    font-size: 28px;
    margin-bottom: 10px;
}

.cart__total-text {
    font-weight: bold;
    margin-bottom: 5px;
}

.cart__total-price {
    font-weight: bold;
}

.cart__note {
    font-size: 14px;
    color: #555;
    margin-bottom: 30px;
}

.cart__content {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.cart__left {
    flex: 2;
}

.cart__right {
    flex: 1;
    border-left: 1px solid #ddd;
    padding-left: 30px;
}

.cart-item {
    display: flex;
    gap: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    position: relative;
}

.cart-item__image img {
    width: 150px;
    height: auto;
    display: block;
}

.cart-item__details {
    flex: 1;
}

.cart-item__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cart-item__name {
    font-size: 18px;
    font-weight: bold;
}

.cart-item__price {
    font-weight: bold;
}

.cart-item__desc {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.cart-item__size {
    font-size: 14px;
    margin-bottom: 10px;
}

.cart-item__quantity-select {
    padding: 5px;
    width: 50px;
}

.cart-item__quantity {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cart-item__quantity-btn {
    width: 30px;
    height: 30px;
    border: 1px solid #333;
    background: #fff;
    color: #333;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    line-height: 28px;
    padding: 0;
    border-radius: 4px;
    transition: background 0.3s;
}

    .cart-item__quantity-btn:hover {
        background: #f5f5f5;
    }

.cart-item__quantity-value {
    min-width: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}


.fw-bold {
    font-weight: 700 ;
    margin-top: 20px;
}

.cart-item__remove {
    background: none;
    border: none;
    font-size: 24px;
    color: #333;
    position: absolute;
    top: 1px;
    right: 7px;
    cursor: pointer;
}

.cart-summary__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cart-summary__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 14px;
}

.cart-summary__total {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.cart-summary__checkout-btn {
    display: block;
    width: 100%;
    background: #000;
    color: #fff;
    padding: 12px;
    font-size: 16px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.cart-summary__checkout-btn:hover {
    background: #333;
}

/*Trang chi tiet san pham*/

.product-detail {
    position: relative;
}

.product-detail__container {
    display: flex;
    gap: 4rem;
    padding: 0 21px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.product-detail__image-img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.product-detail__info {
    flex: 1;
    min-width: 300px;
}

.product-detail__name {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #000;
}

.product-detail__category {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
}

.product-detail__price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 1rem;
}

.product-detail__code {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 1.5rem;
}

.product-detail__size-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.product-detail__size-title {
    font-size: 1rem;
    font-weight: bold;
}

.product-detail__size-guide {
    font-size: 0.9rem;
    color: #007bff;
    text-decoration: none;
}

    .product-detail__size-guide:hover {
        text-decoration: underline;
    }

.product-detail__sizes {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.size-btn {
    border: 1px solid #ccc;
    padding: 0.5rem;
    background: #fff;
    transition: all 0.2s;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    text-align: center;
}

    .size-btn:hover:not(.disabled) {
        border-color: #000;
    }

    .size-btn.selected {
        border-color: #000;
        background-color: #f0f0f0;
        font-weight: bold;
    }

    .size-btn.disabled {
        color: #aaa;
        cursor: not-allowed;
        background-color: #f9f9f9;
    }

.product-detail__quantity {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

    .product-detail__quantity label {
        font-size: 1rem;
        font-weight: bold;
    }

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.quantity-btn {
    padding: 0.3rem 0.7rem;
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
}

    .quantity-btn:hover {
        background-color: #eee;
    }

#soLuong {
    width: 50px;
    padding: 0.3rem;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-to-cart {
    width: 200px;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

    .add-to-cart:hover:not(:disabled) {
        background-color: #333;
    }

    .add-to-cart:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }

.size-guide-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 25px;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;
    border-radius: 8px;
    max-width: 700px;
    text-align: center;
}

    .size-guide-popup.show {
        display: block;
    }

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 24px; 
    color: #333;
    transition: color 0.3s;
}

    .close-btn:hover {
        color: #999;
    }

.size-guide-popup h3 {
    margin-top: 0;
    color: #333;
    font-size: 1.5em;
}

.size-guide-popup p {
    margin: 10px 0;
    color: #666;
}

.size-guide-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; 
}

    
    .size-guide-table th,
    .size-guide-table td {
        padding: 10px 8px;
        text-align: center;
        border: 1px solid #ccc;
        font-size: 14px;
        white-space: nowrap;
    }

        
        .size-guide-table th:nth-child(1),
        .size-guide-table td:nth-child(1) {
            width: 16%; 
        }

        .size-guide-table th:nth-child(2),
        .size-guide-table td:nth-child(2),
        .size-guide-table th:nth-child(3),
        .size-guide-table td:nth-child(3),
        .size-guide-table th:nth-child(4),
        .size-guide-table td:nth-child(4) {
            width: 20%;
        }

        .size-guide-table th:nth-child(5),
        .size-guide-table td:nth-child(5) {
            width: 24%; 
        }

    .size-guide-table th {
        background-color: #f5f5f5;
        color: #333;
    }

    .size-guide-table tr:nth-child(even) {
        background-color: #ccc;
    }

/*    .size-guide-table tr:hover {
        background-color: #f0f0f0;
    }*/


/*Thanh toan*/

.checkout__title {
    font-size: 28px;
    font-weight: 700;
    color: #000;
    margin-bottom: 25px;
    text-align: center;
    padding-top: 10px;
}

.checkout__container {
    display: flex;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 70px;
    margin-top: 40px;
    font-family: "Noto Sans", sans-serif;
}

.checkout__info, .checkout__summary {
    flex: 1;
}

.checkout__info-title, .checkout__summary-title {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-bottom: 15px;
}

.checkout__form {
    max-width: 100%;
}

.checkout__field {
    margin-bottom: 20px;
}

.checkout__label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
}

.checkout__input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

    .checkout__input:focus {
        border-color: #000;
        outline: none;
    }

.checkout__error {
    font-size: 12px;
    color: #dc3545;
    display: block;
    margin-top: 5px;
}

.checkout__payment-options {
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

.checkout__payment-option {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkout__payment-label {
    font-size: 14px;
    color: #333;
    margin-left: 5px;
}

.checkout__summary-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

.checkout__summary-details {
    display: flex;
    align-items: center;
    gap: 15px;
}

.checkout__summary-image {
    width: 80px;
    height: auto;
}

.checkout__summary-info {
}

.checkout__summary-name {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin: 0;
}

.checkout__summary-desc, .checkout__summary-size, .checkout__summary-quantity {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.checkout__summary-price {
    font-size: 16px;
    font-weight: 600;
    color: #000;
}





.checkout__submit {
    background-color: #000;
    color: #fff;
    padding: 12px 24px;
    margin-top: 15px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .checkout__submit:hover {
        background-color: #333;
    }

/*Samba page*/

.page__title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.breadcrumb {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 20px;
    gap: 8px;
    margin-top: 3px;
}

.breadcrumb__back {
    font-weight: 700;
    text-decoration: none;
    color: #000;
}

    .breadcrumb__back:hover {
        text-decoration: underline;
        color: #000;
    }

.breadcrumb__icon {
    margin-right: 4px;
    font-size: 16px;
}

.breadcrumb__divider {
    color: #999;
}

.breadcrumb__link {
    text-decoration: none;
    color: #000;
}

    .breadcrumb__link:hover {
        text-decoration: underline;
        color: #000;    
    }

.breadcrumb__current {
    color: #666;
    text-decoration: underline;
}

.filter__select {
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}



.product__container {
    margin-bottom: 40px;
}

.product__title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product__card {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.product__link {
    text-decoration: none;
}

.product__image {
    width: 100%;
    height: auto;
}

.product__info {
    padding: 10px 0;
}

.product__name {
    font-size: 16px;
    margin: 5px 0;
}

.product__price {
    font-size: 14px;
    color: #000;
    margin: 5px 0;
}

.product__button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

    .product__button:hover {
        background-color: #0056b3;
    }







/* Footer */
.footer * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    padding: 20px 20px;
}

.footer-container {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) repeat(3, 1fr);
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: start;
}

.footer-col h3 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
}

.footer-col ul {
    list-style: none;
}

    .footer-col ul li {
        margin-bottom: 14px;
    }

        .footer-col ul li a {
            color: #fff;
            text-decoration: none;
            transition: color 0.3s;
        }

            .footer-col ul li a:hover {
                text-decoration: underline;
            }

.footer-logo {
    text-align: center; 
}

    .footer-logo img {
        max-width: 80px;
        height: auto;
        object-fit: cover;
        border-radius: 8px;
        display: block;
        margin: 0 auto 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    }

    .footer-logo p {
        margin: 0 auto;
        max-width: 300px;
        line-height: 1.5;
        color: #fff;
    }


.social-links a {
    color: #fff;
    margin-right: 15px;
    font-size: 18px;
    text-decoration: none;
}

    .social-links a:hover {
        color: #999;
    }

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #333;
    font-size: 13px;
    color: #999;
}

.search-results {
    padding: 10px;
    display: none;
}

/*_Manage Nav*/



.sidebar {
    background-color: #fff;
    padding: 30px 0;
    border-radius: 12px 0 0 12px;
    height: auto;
}

    
    .sidebar .nav-link {
        background-color: #fff;
        color: black;
        font-weight: 500;
        padding: 12px 20px;
        transition: background-color 0.3s, color 0.3s;
    }

        /* Hover */
        .sidebar .nav-link:hover {
            background-color: #f0f0f0;
            color: black;
        }

        /* Active */
        .sidebar .nav-link.active {
            background-color: #000;
            color: white;
            font-weight: bold;
        }



/*Account profile*/
.profile {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    background-color: #f8f9fa;
}

.profile__container {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.profile__title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.profile__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form__group {
    position: relative;
}

.form__label {
    position: absolute;
    top: -8px;
    left: 12px;
    background: white;
    padding: 0 4px;
    font-size: 14px;
    color: #6c757d;
}

.form__input {
    width: 100%;
    padding: 14px 12px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 6px;
    background-color: #fff;
    transition: border 0.3s;
}

    .form__input:focus {
        outline: none;
        border-color: #000;
    }

.form__error {
    font-size: 13px;
    color: red;
    margin-top: 5px;
}

.form__button {
    background-color: #000;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

    .form__button:hover {
        background-color: #333;
    }

.profile__subtitle {
    font-size: 20px;
    font-weight: 600;
    margin: 30px 0 15px;
}

.form__group--actions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}

.form__button {
    background-color: #000;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: background-color 0.3s ease;
}

    .form__button:hover {
        background-color: #333;
    }

/*Person data account*/
.profile__text {
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.6;
}

.profile__warning {
    color: #dc3545;
}

.form__button--danger {
    background-color: #dc3545;
}

    .form__button--danger:hover {
        background-color: #b02a37;
    }



    .search-results a {
        display: block;
        padding: 5px;
        color: #000;
        text-decoration: none;
    }

        .search-results a:hover {
            background-color: #f0f0f0;
        }

/*Nut cuon len dau trang*/
#back-to-top {
    display: none; 
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 1000;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s, transform 0.3s;
}

    #back-to-top:hover {
        opacity: 0.8;
        transform: scale(1.1);
    }

    
    #back-to-top.show {
        display: block;
    }

/*Thanh dieu huong*/

#shoe-nav {
    position: sticky;
    top: 60px;
    z-index: 1000;
    background-color: white;
    display: flex;
    gap: 20px;
    padding: 12px 20px;
    border-bottom: 1px solid #ddd;
}

    
    #shoe-nav a {
        text-decoration: none;
        color: #000;
        font-weight: 500;
        padding: 6px 10px;
        transition: color 0.2s;
    }

        
        #shoe-nav a:hover {
            color: #e60023; 
        }


        #shoe-nav a.active {
            border-bottom: 2px solid #e60023;
            font-weight: bold;
            color: #e60023;
        }


/*Chi tiet don hang*/
.order-details__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.order-details__cart-list {
    margin-bottom: 20px;
}

.order-details__item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.order-details__item-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 30px;
}

.order-details__item-content {
    flex-grow: 1;
    margin-bottom: 65px;
}

.order-details__item-title {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
}

.order-details__item-detail {
    font-size: 15px;
    color: #666;
    margin-bottom: 5px;
}

.order-details__item-qty {
    display: inline-block;
    font-size: 15px;
    color: #666;
    margin-bottom: 5px;
}

.order-details__item-price {
    font-weight: bold;
    font-size: 15px;
    color: #333;
}

.order-details__total {
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    margin-top: 10px;
    color: #000;
}

/*Lich sua mua hang*/
.cart__history {
    display: block;
    margin-bottom: 20px;
    
    font-size: 16px;
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

    .cart__history:hover {
        background-color: #e9ecef;
        text-decoration: underline;
        color: #000;
    }

.cart {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.cart__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.search-results {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    width: 300px;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 4px;
    top: 100%; /* Đặt danh sách kết quả ngay dưới thanh tìm kiếm */

    margin-top: 5px; /* Khoảng cách nhỏ để tách biệt */
}
.search-results div {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.2s;
}

    .search-results div:hover {
        background-color: #f0f0f0;
    }

.search-results img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.search-results .no-results {
    color: #555;
    text-align: center;
    font-style: italic;
}

/*Lich su mua hang*/


.order-history__title {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

.order-history__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.order-card__info {
    margin-bottom: 15px;
}

.order-card__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.order-card__label {
    font-weight: 600;
    color: #555;
}

.order-card__value {
    color: #222;
}

.order-card__actions {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.order-card__link {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    border: 2px solid #000;
    background-color: #fff;
    
    text-decoration: none;
    border-radius: 4px;
    font-family: 'Sora', sans-serif;
    transition: background-color 0.25s ease, color 0.25s ease;
}

    .order-card__link:hover {
        background-color: #000;
        color: #fff;
    }

.order-card__link--complain {
    display: inline-block;
    padding: 6px 14px;
    font-size: 14px;
    font-weight: 600;
    
    border: 2px solid #000;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    transition: background-color 0.25s ease, color 0.25s ease;
    font-family: 'Sora', sans-serif;
    text-decoration: none;
}

    .order-card__link--complain:hover {
        background-color: #000;
        color: #fff;
    }


.order-card__button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    transition: background 0.2s ease;
}

.order-card__button--cancel {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 4px;
    
    cursor: pointer;
    font-family: 'Sora', sans-serif;
    transition: background-color 0.25s ease, color 0.25s ease;
}

    .order-card__button--cancel:hover {
        background-color: #000;
        color: #fff;
    }
.order-history__empty {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    color: #777;
    font-style: italic;
}

/*Khieu nai*/
/* Complain Page Styling */
.complain__container {
    max-width: 850px;
    margin: 40px auto;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    font-family: 'Sora', sans-serif;
}

.complain__title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: #111;
    margin-top: 30px;
    font-family: 'Sora', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.complain__info-title {
    font-size: 20px;
    font-weight: 600;
    color: #111;
    margin-bottom: 20px;
    border-left: 4px solid #000;
    padding-left: 10px;
}

.complain__form .form-group {
    margin-bottom: 20px;
}

.complain__form textarea {
    resize: vertical;
    min-height: 140px;
    border-radius: 10px;
    border: 1px solid #000;
    font-size: 15px;
    padding: 10px 14px;
    font-family: 'Sora', sans-serif;
    background-color: #fff;
    color: #111;
}

.complain__form .form-control:focus {
    border-color: #000;
    box-shadow: none;
    outline: none;
}

/* ========== BUTTON STYLE (Adidas) ========== */
.complain__form button.btn {
    margin-bottom: 15px;
    padding: 10px 24px;
    border-radius: 0;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Sora', sans-serif;
    text-transform: uppercase;
    transition: all 0.3s ease;
    border: 2px solid #000;
}


.complain__form .btn-primary {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

    .complain__form .btn-primary:hover {
        /*        background-color: #fff;
        color: #000;*/
        background-color: #333;
        color: #fff;
    }


.complain__form .btn-secondary {
    background-color: #fff;
    color: #000;
    border-color: #000;
    
}

    .complain__form .btn-secondary:hover {
        /*        background-color: #000;
        color: #fff;*/
        background-color: #f0f0f0;
        color: #000;
    }


.complain__form .form-group.mt-3 {
    display: flex;
    gap: 10px;
}

.complain__form .btn {
    flex: 1;
    text-align: center;
}






    
